
<div class="sidebar">
    <span class="chakra-resize">
        <img src="assets/images/chakraLogo.jpg" alt="chakra" class="chakra-logo">
    </span>
    <!-- <h4 class="text-light text-center p-2 m-2">Shyam Steel</h4> -->
    <span>
        <img src="assets/images/TextLogo.jpg" alt="text" class="text-logo">
    </span>
    <ul>
        <li>
            <button type="submit" class="btn" id="customBtn" (click)="onHomePage()">Home
                <i class="icon-register"></i>
            </button>
        </li>
        <li>
            <button type="submit" class="btn" id="customBtn" (click)="newRegister()">New Visitor
                <i class="icon-register"></i>
            </button>
        </li>
        <li>
            <button type="submit" class="btn" id="customBtn" (click)="onCheckin()">Check In
                <i class="icon-checkin"></i>
            </button>
        </li>
        <li>
            <button type="submit" class="btn" id="customBtn" (click)="onGatePass()">Gate Pass
                <i class="icon-checkin"></i>
            </button>
        </li>
        <li>
            <button type="submit" class="btn" id="customBtn" (click)="onCheckout()">Check Out
                <i class="icon-checkout"></i>
            </button>
            <!-- <div class="button1b">
                <div class="button1b-content">You are a superstar!</div>
            </div> -->
        </li>
    </ul>
</div>