<div class="fix-container">
    <side-bar class="side-bar"></side-bar>
    <div class="main-container">
        <div >
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header p-2 mb-3">
                            <h4 class="card-title text-center">Guest visiting pass</h4>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-md-6 mb-2">
                                    <label>Name :</label>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label>photo :</label>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6 p-2">
                                        <label>Phone No. :</label>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6 p-2">
                                        <label>Email :</label>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6 p-2">
                                        <label>Person to visit : </label>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6 p-2">
                                        <label>Reason to visit :</label>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6 p-2">
                                        <label>Check-In time :</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary" >Print Pass</button>
                </div>
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary" (Click)="closeRegistrationForm()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

